.Log-In-Title {
  font-size: 22px;
  font-weight: bold;
  color: #1f2a4b;
  margin-bottom: 10px;
}

.Log-In-Subtitle {
  font-size: 16px;
  color: #a1a4ad;
  margin: 0px 0px 10px 0px;
}

/* @Feedback: Since the following two classes have the same definitions
it sould be a single class with the name `input` or similar.
*/
.Log-In-Email {
  font-size: 16px;
  color: #9ea3b2;
}

.Log-In-Password {
  font-size: 16px;
  color: #9ea3b2;
}

.Sign-Up-Option {
  font-size: 14px;
  color: #1f2a4b;
  margin-top: 21px;
}

/* @Feedback: Would Log-In-Button-Container be a more appropriate name? */
.Log-In-Button-Content {
  height: 36px;
  border-radius: 4px;
  border: solid 1px #4a77e5;
  background-color: #4a77e5;
  margin-top: 52px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* @Feedback: Name is missleading since it is used on a button not a label. */
.Log-In-Label {
  font-size: 16px;
  color: #ffffff;
}