.Sign-Up-Title {
  font-size: 22px;
  font-weight: bold;
  color: #1f2a4b;
  margin-bottom: 10px;
}

.Sign-Up-Subtitle {
  font-size: 16px;
  color: #a1a4ad;
  margin: 0px 0px 10px 0px;
}

.Sign-Up-Form-Submit {
  display: flex;
  flex-direction: column;
}

.Sign-Up-Full-Name {
  font-size: 16px;
  color: #9ea3b2;
}

.Sign-Up-Email {
  font-size: 16px;
  color: #9ea3b2;
}

.Sign-Up-Password {
  font-size: 16px;
  color: #9ea3b2;
}

.Log-In-Option {
  font-size: 14px;
  color: #1f2a4b;
  margin-top: 21px;
}

.Sign-Up-Button-Content {
  height: 36px;
  border-radius: 4px;
  border: solid 1px #4a77e5;
  background-color: #4a77e5;
  margin-top: 52px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Sign-Up-Label {
  font-size: 16px;
  color: #ffffff;
}